$yellow-green: #b0eb00;
$red: #b30015;
$blue: #2a00b3;
$other-blue: #286090;
$cyan: #00b0b3;
$transparent-cyan: #24fbff;
$periwinkle: #8a7dff;
$light-gray: #a6a6a6;
$gray: #595959;
$darkish-gray: #969896;
$dark-gray: #363636;
$darker-gray: #303030;
$darkest-gray: #292929;
$darkester-gray: #111;
$blackly: #1d1f21;
$bluish: #f3f6fa;
$dark-green: #83900B;
$dark-purple: #904AA5;

.app-container {
  @extend .container-fluid;
  padding: 0px;
}
