.FeatureItem {
  .feature-service-header {
    @extend .row-fluid;
    display: block;
    background: #eee;

    .title {
      @extend .col-md-12;

      h1 {
        display: inline-block;
        font-variant: small-caps;
      }
    }
  }

  .feature-container {
    @extend .row-fluid;
  }

  .feature-value-container {
    @extend .col-md-12;
  }

  .feature-rules {
    @extend .col-md-12;
  }

  .feature {
    @extend .col-md-12;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 30px 10px;

    h1 {
      font-size: 28px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 6px;
      color: $dark-green;
      margin-top: 10px;
    }
    h2 {
      font-size: 22px;
      font-variant: small-caps;
      color: $other-blue;
    }
    h3 {
      font-size: 19px;
      margin-top: 5px;
      font-weight: lighter;
    }
    h4 {
      font-size: 18px;
      font-weight: lighter;
    }

    .feature-collapse {
      display: block;
      cursor: pointer;
      font-size: 12px;
      color: $other-blue;
      float: right;
      padding: 15px 5px;
      margin-top: 10px;
    }
  }

  .json-obj {
    display: block;

    .key {
      display: inline-block;
      margin-right: 20px;
      font-weight: bold;

      input {
        border: none;
        width: 100px;
      }
    }
    .val {
      display: inline-block;

      input {
        border: none;
        width: 100px;
      }
    }
    .adder {
      margin-top: 5px;

      .form-group {
        width: 100px;
        display: inline-block;
        margin-right: 5px;
      }
      span {
        display: inline-block;
        margin-right: 5px;
      }
      button {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

  .feature-partition {
    @extend .col-md-12;

    .feature-partition-box {
      @extend .col-md-12;
    }
    .feature-partition-json {
      @extend .col-xs-4;
      display: block;
      margin-bottom: 10px;
    }
    .feature-partition-json {
      @extend .col-xs-12;
    }
  }

  .feature-rules {

    .feature-rule {
      @extend .col-md-12;

      .feature-rule-item {
        @extend .col-md-12;
        margin-left: 10px;
        margin-bottom: 10px;

        h3 {
          margin-top: 5px;
        }
      }
      .feature-rule-footer {
        @extend .col-md-12;
      }
      .feature-rule-component {
        @extend .col-md-12;
      }
    }

    .feature-rule-json {
      .rule-header {
        h3 {
          display: inline-block;
        }
        .remove-rule {
          display: inline-block;
          width: 15px;
          margin-right: 5px;
          padding: 6px 5px;
          vertical-align: top;

          span {
            display: none;
          }
        }
        &:hover {
          > .remove-rule {
            span {
              display: block;
              cursor: pointer;
              color: $dark-purple;
            }
          }
        }
      }
      .json-object-container {
        padding-left: 20px;
      }
    }

    .rule-object-adder {
      min-height: 30px;
      margin-top: 10px;

      .adder-trigger {
        @extend .btn-primary;
        margin: 3px;
        vertical-align: middle;
      }

      .adder-control {
        .separator-h {
          display: inline-block;
          margin: 0 5px;
        }
        .adder-attr-config {
          display: inline-block;
        }
        .form-group {
          margin: 0 2px;
          height: 30px;
          display: inline-block;
          width: 100px;
        }
        button {
          margin: 0 2px;
        }
      }
    }
  }

  .feature-footer {
    @extend .col-md-12;
  }
}
